
<div class="cabecario">
    <div class="info-usuario">
        <div class="search-box">
            <i class="bi bi-search" style="color: #2b3d58;"></i>
            <input type="search" placeholder="Pesquisar">
        </div>
    </div>
    <div>
        <a href=""
            style="a:link{background-color:#000;}a:visited{background-color:#dee2e6}a:hover{background-color:#000;}"
            data-toggle="modal" data-target="#modalSair">
            <i class="bi bi-person-circle" style="font-size: 40px;color:#cf0a1d;"></i>
        </a>
    </div>
</div>